html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: sans-serif;
  background: #fef6f0; 
}

.home-bg {
  background-image:
    url("images2/bracelet_home1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  background: #d8e6cf; 
}

nav a, nav button {
  color: black;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  margin: 0 8px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eedee5;
  min-width: 150px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  background: rgb(242, 242, 172);
  color:#333;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header nav > a,
header nav > button {
  color: black;       
  text-decoration: none; 
  background: none;   
  border: none;       
  cursor: pointer;
  font-size: 15px;
  margin: 0 8px;
}

header nav > a:hover,
header nav > button:hover {
  color: #333; 
}

.dropdown:hover .menu,
.dropdown .menu:hover {
  display: block;
}

main { padding: 30px;
flex: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.img-placeholder {
  background: #eedee5;
  height: 140px;
  border-radius: 10px;
}

footer {
  background: #d8e6cf;
  text-align: center;
  padding: 5px;
}
.footer-links a {
  margin: 0 10px;
  cursor: pointer;
  color: black;
}
.footer-links a:hover {
   color: #333;
}

.modal {
  position: fixed;
  top: 0; left:0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,.4);
  display: none;
  justify-content: center;
  align-items: center;
}
.form {
  background-color: antiquewhite;
  padding: 25px;
  width: 320px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.form input, .form textarea { margin-bottom: 10px; padding: 8px;}
.submit { background-color: rgb(247, 214, 174) ; border: none; padding: 4px; margin-top: 4px;}
.close { background-color: rgb(247, 214, 174) ; border:none; padding:4px; margin-top: 3px; cursor:pointer;}
.center-home {
  text-align:left;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bolder;
  font-family: "beautiful", sans-serif;
  word-spacing: 10px;
  letter-spacing: 3px;
}
@font-face {
  font-family: "beautiful";
  src: url("FONT1.otf") format("truetype");
}
.faq-title {
  text-align: center;
  margin-top: 20px;
}

.faq-box {
  width: 80%;
  margin: 20px auto;
  background-color:antiquewhite;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.product-img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 8px;
}
#best-sellers {
  margin-top: 10vh; 
}
#cartBtn {
  background-color: #fef6f0;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
#cartItems div {
  margin-bottom: 8px;
}
#cartItems button {
  margin-left: 10px;
  padding: 2px 5px;
  background: #eedee5;
  border: none;
  cursor: pointer;
}
#cartItems button:hover {
  background: #d8e6cf;
}
.card {
  display: flex;
  flex-direction: column;
  height: 100%; 
  border: 1px solid #eee; 
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(247, 226, 200);
}

.card button {
  margin-top: auto; 
  padding: 5px;
  cursor: pointer;
  background-color: antiquewhite;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  position: relative;
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  font-size: 24px;
}
#Btncart {
  background-color: rgb(253, 210, 157);
}
